<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera - MultiPicture Module
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="d-flex flex-column justify-content-center align-items-center ion-text-center h-100">
    <ion-icon name="camera-outline" size="large" color="medium"></ion-icon>
    <h3>Multi-Picture Camera</h3>
    <p style="margin-bottom: 40px;">Capture multiple photos at once</p>
    
    <ion-button (click)="initCamera()" shape="round" size="large">
      <ion-icon slot="start" name="camera"></ion-icon>
      Start Camera
    </ion-button>
  </div>
</ion-content>
